@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{

    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
   
}

main{
    max-width: 375px;
   
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    /* background-image: linear-gradient(135deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%)); */
}
header{
    max-width: 375px;
}

.img-desktop {
    display: none;
}

header img{
    max-width: 34%;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}
section{
    max-width:100%
    
}


.hero-text{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    max-width: 75%;
  
}

h1{
    color: hsl(0, 6%, 24%);
    
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;

}

h1:nth-of-type(1){
    color: hsl(0, 36%, 70%);
    opacity: 0.65;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 10px;

}
p{
    color:hsl(0, 36%, 70%);
   text-justify:distribute;
   font-size: 0.7rem;
   padding-top: 1rem;
   margin: 0 auto;
   line-height: 2;
   font-weight: 400;

}




.form1{
    display: flex;
    max-width: 100%;
    border: 2px solid  hsl(0, 36%, 70%);
   
    border-right: transparent;
    margin: 1rem auto;
    border-radius: 25px;
}

#emailaddress{
    
        border: transparent;
       max-width: 90%;
       align-self: center;
       padding-left: 1rem;
       background-color: transparent;
       font-size: 0.7rem;
       font-weight: 600;
       color: hsl(0, 36%, 70%);
       font-family: 'Josefin Sans', sans-serif;
       outline: none;
    
}




button{
    background-color: hsl(0, 93%, 68%);
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
    border: 1px solid hsl(0, 93%, 68%);
    align-self: flex-end;
}

.loginError{
    align-self: center;
    color: hsl(0, 93%, 68%);
    padding-left: 1rem;
    padding-top: 0rem;
}

@media only screen and (max-width: 1440px) {
    main{
        max-width: 1200px;
        background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
        border: 2px solid red;
       display:grid;
       grid-template-columns: repeat(2,2fr);
       
    }
    .information{
        grid-column: 1/2;
        grid-row: 1/2;
        padding:0 3rem;
    }

    .hero-image{
        grid-column: 2/2;
        grid-row: 1/2;
    }

    header{
        width: 50%;
    }
    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: contents;
        width: 100%;
    }
    .img-desktop img {
        width: 100%;
        height: 100vh;
    }
    
  }